langchain_openai
langchain_groq
langchain_core
langchain_community
langchainhub
sentence-transformers
transformers
langchain 
langgraph
streamlit
langserve
beautifulsoup4
sse_starlette
faiss-cpu
fastapi
uvicorn
bs4
wikipedia
arxiv
groq